/.vscode
/ST.c
/ST.h
/ST_fix2.c
/alternate_main.c
/alternate_main_error_fix.c
/file_system.c
/file_system.h
/main.c
/my.out
/proj2
/proj2.zip
/results
/settest
/t01.in
/t01.out
/test.in
/teste
/testes
/testeset.in